body{
    display: flex;  
    justify-content: center;
    align-items: center;    
    background-color: hsl(30, 38%, 92%);
}

#container {
  max-width: 375px;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}
#product-name{
    font-family: "Fraunces", serif;
    font-size: 32px;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    margin: 0;
}
#text-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* This is how your website looks on mobile by default */
.product-image{
    content: url("./images/image-product-mobile.jpg"); 
    width: 100%;
    height: auto;
}

/* This changes the layout for screens wider than 48em */
@media (min-width: 48em) {
  #container {
    display: flex; 
    flex-direction: row;
    max-width: 1440px;
    padding: 0;
    border-radius: 15px;
  }
  .product-image{
    content: url("./images/image-product-desktop.jpg"); 
    width: 50%;
    height: auto;
}

}
.text{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
#price{
    font-family: "Fraunces", serif;
    font-size: 32px;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    margin: 0;
}
#original-price{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin: 0;
}
#add-to-cart{
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    padding: 15px;
    font-family: "Fraunces", serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
@font-face {
font-family: "Montserrat";
src: url('fonts\Montserrat\Montserrat-VariableFont_wght.ttf') format("truetype");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: "Montserrat";
src: url('fonts\Montserrat\Montserrat-VariableFont_wght.ttf') format("truetype");
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: "Fraunces";
src: url('fonts\Fraunces\Fraunces-VariableFont_wght.ttf') format("truetype");
font-weight: 700;
font-style: normal;
}